[project]
	description = Omniauth strategy for magento
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Chris Baynes (chris-baynes)
[access "refs/for/refs/*"]
	read = group user/Chris Baynes (chris-baynes)
	push = group user/Chris Baynes (chris-baynes)
	label-Code-Review = -2..+2 group user/Chris Baynes (chris-baynes)
	label-Verified = -1..+1 group user/Chris Baynes (chris-baynes)
	rebase = group user/Chris Baynes (chris-baynes)
	removeReviewer = group user/Chris Baynes (chris-baynes)
	submit = group user/Chris Baynes (chris-baynes)
[access "refs/heads/*"]
	read = group user/Chris Baynes (chris-baynes)
	create = group user/Chris Baynes (chris-baynes)
	push = +force group user/Chris Baynes (chris-baynes)
	pushMerge = group user/Chris Baynes (chris-baynes)
[access "refs/tags/*"]
	push = +force group user/Chris Baynes (chris-baynes)
	pushTag = group user/Chris Baynes (chris-baynes)
	pushSignedTag = group user/Chris Baynes (chris-baynes)
